/* Tablet portrait */
@media screen and (max-width: 1278px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;  
    }
  
    body {
        font-size: 1.4em;
    }
    
    .row {
        width: 100%;
        margin-top: 0;
        padding: 50px;
    }
    #lezioni .row,
    #why .row {
        background-color: lightsalmon;
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: 100%;
        margin-top: 0;
        padding-top: 30px;
    } 
  
    #lezioni .row img,
    #steps .row img,
    #why .row img {
        height: 200px;
        width: auto;
        margin: 30px auto;
    }
    #why .row img{
        padding: 15px;
    }
}

/*Smartphone portrait*/
@media screen and (max-width: 420px) {
    body {
        font-size: 0.75em;
    }
      
    .row {
        padding: 10px;
    }
    #lezioni .row,
    #why .row {
        background-color: #f2f2cd;
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        padding-top: 30px;      
    }
  
    #lezioni .row img,
    #steps .row img,
    #why .row img {
        height: 80px;
        margin: 5px auto;
    }
  }