/* Responsive */
@media screen and (max-width:420px) {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;  
    }
  
    body {
      font-size: 0.75em;
    }
  
    h1 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.2em;
    }
    
    .row {
      width: 100%;
      margin-top: 0;
      padding: 10px;
    }
    #lezioni .row,
    #why .row {
      background-color: #f2f2cd;;
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      width: 100%;
      margin-top: 0;
      padding-top: 10px;
      
    } 
  
    #lezioni .row img,
    #steps .row img,
    #why .row img {
      height: 80px;
      width: auto;
      margin: 5px auto;
    }
    #why .row img{
      padding: 15px;
    }
  }